<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Educar com o Redu</title>
  <%= stylesheet_link_tag "application" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>
  <script type="text/javascript" src="http://use.typekit.com/lpo4rgu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-13202852-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <link rel="image_src" type="image/jpeg" href="images/icon-facebook.gif" />
  <link rel="icon" type="image/png" href="favicon.ico">
</head>
<body>
<%= yield %>

</body>
</html>
